img {
    width: 100px;
    height: alto;
}
.shampoo {
    width: 9%;
    height:auto
}
.form-control .campo {
        width: 250px;
        padding: .375rem .75rem ; 
        font-size: 1rem ; 
      }
  .CampoTitulo {
    width: 200px;
    font-size: 15px;
  }
.form-control.custom-input {
    width: 100px !important;
    height: 30px !important;
    font-size: 14px !important;
}